<app-admin-dashboard>
    <app-panel [header]="title">
        <form [formGroup]="changePasswordForm" novalidate>
            <div class="row clearfix">
              <div class="col-md-12">
                <app-input label="Senha Atual*" id="currentPassword">
                    <input type="password" formControlName="currentPassword" id="currentPassword" 
                      class="form-control" autocomplete="off">
                    <div class="error-messages">
                        <app-input-error-message *ngIf="hasError(changePasswordForm, 'currentPassword', 'required')"
                            errorMessage="O campo senha atual é de preenchimento obrigatório">
                        </app-input-error-message>
                    </div>
                </app-input>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-md-12">
                <app-input label="Nova Senha*" id="newPassword">
                    <input type="password" formControlName="newPassword" id="newPassword" 
                      class="form-control" autocomplete="off">
                    <div class="error-messages">
                        <app-input-error-message *ngIf="hasError(changePasswordForm, 'newPassword', 'required')"
                            errorMessage="O campo nova senha é de preenchimento obrigatório">
                        </app-input-error-message>
                        <app-input-error-message *ngIf="hasError(changePasswordForm, 'newPassword', 'minlength', 'maxlength')"
                            errorMessage="O campo nova senha deve conter entre 4 e 100 caracteres">
                        </app-input-error-message>
                        <app-input-error-message *ngIf="changePasswordForm.hasError('newPasswordEqualToCurrent')
                          && !changePasswordForm.get('newPassword').hasError('required') 
                          && !changePasswordForm.get('newPassword').hasError('minlength')
                          && !changePasswordForm.get('newPassword').hasError('maxlength')"
                            errorMessage="A nova senha deve ser diferente da senha atual">
                        </app-input-error-message>
                    </div>
                </app-input>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-md-12">
                <app-input label="Repita a nova senha*" id="newPasswordConfirmation">
                    <input type="password" formControlName="newPasswordConfirmation" id="newPasswordConfirmation" 
                      class="form-control" autocomplete="off">
                    <div class="error-messages">
                        <app-input-error-message *ngIf="hasError(changePasswordForm, 'newPasswordConfirmation', 'required')"
                            errorMessage="O campo repita a nova senha é de preenchimento obrigatório">
                        </app-input-error-message>
                        <app-input-error-message *ngIf="changePasswordForm.hasError('newPasswordNotMatch')
                          && !changePasswordForm.get('newPasswordConfirmation').hasError('required')"
                            errorMessage="O campo repita a nova senha deve ser igual ao campo nova senha">
                        </app-input-error-message>
                    </div>
                </app-input>
              </div>
            </div>
            <app-form-options-buttons 
                [form]="changePasswordForm" urlCancel="/" (save)="save($event)">
            </app-form-options-buttons>
        </form>
    </app-panel>
</app-admin-dashboard>
