<!-- User Info -->
<div class="user-info">
  <div class="image">
      <!-- avatar image -->
  </div>
  <div class="info-container">
      <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ getUser()?.name }}
      </div>
      <div class="email">{{ getUser()?.email }}</div>
      <div class="btn-group user-helper-dropdown">
          <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
          <ul class="dropdown-menu pull-right">
              <li>
                  <a routerLink="/users/change-password">
                    <i class="material-icons">security</i>Alterar Senha
                  </a>
              </li>
              <li role="seperator" class="divider"></li>
              <li (click)="logout()">
                  <a href="javascript:void(0);"><i class="material-icons">input</i>Sair</a>
                </li>
          </ul>
      </div>
  </div>
</div>
<!-- #User Info -->