<app-admin-dashboard>
    <app-panel [header]="title">
        <form [formGroup]="userForm" novalidate>
            <div class="row clearfix">
                <div class="col-md-12">
                    <app-input label="Nome*" id="name">
                        <input type="text" formControlName="name" id="name" class="form-control" autocomplete="off">
                        <div class="error-messages">
                            <app-input-error-message *ngIf="hasError(userForm, 'name', 'required')"
                                errorMessage="O campo nome é de preenchimento obrigatório">
                            </app-input-error-message>
                            <app-input-error-message *ngIf="hasError(userForm, 'name', 'minlength', 'maxlength')"
                                errorMessage="O campo nome deve conter entre 4 e 100 caracteres">
                            </app-input-error-message>
                        </div>
                    </app-input>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12">
                    <app-input label="E-mail*" id="email">
                        <input type="email" formControlName="email" id="email" class="form-control" autocomplete="off">
                        <div class="error-messages">
                            <app-input-error-message *ngIf="hasError(userForm, 'email', 'required')"
                                errorMessage="O campo email é de preenchimento obrigatório">
                            </app-input-error-message>
                            <app-input-error-message *ngIf="hasError(userForm, 'email', 'maxlength')"
                                errorMessage="O campo email deve conter no máximo 200 caracteres">
                            </app-input-error-message>
                            <app-input-error-message *ngIf="hasError(userForm, 'email', 'email')
                                && !hasError(userForm, 'email', 'required')"
                                errorMessage="O e-mail informado é inválido">
                            </app-input-error-message>
                            <app-input-error-message *ngIf="hasError(userForm, 'email', 'emailTaken')"
                                errorMessage="Este e-mail já está sendo utilizado por outro usuário">
                            </app-input-error-message>
                        </div>
                    </app-input>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12">
                    <app-input label="Senha*" id="password">
                        <input type="password" formControlName="password" id="password" class="form-control" autocomplete="off">
                        <div class="error-messages">
                            <app-input-error-message *ngIf="hasError(userForm, 'password', 'required')"
                                errorMessage="O campo senha é de preenchimento obrigatório">
                            </app-input-error-message>
                            <app-input-error-message *ngIf="hasError(userForm, 'password', 'minlength', 'maxlength')"
                                errorMessage="O campo senha deve conter entre 4 e 10 caracteres">
                            </app-input-error-message>
                        </div>
                    </app-input>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12">
                    <app-input label="Confirme a Senha*" id="confirmPassword">
                        <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control" autocomplete="off">
                        <div class="error-messages">
                            <app-input-error-message *ngIf="hasError(userForm, 'confirmPassword', 'required')"
                                errorMessage="O campo confirme a senha é de preenchimento obrigatório">
                            </app-input-error-message>
                            <app-input-error-message *ngIf="userForm.hasError('fieldsNotMatch') 
                              && userForm.get('confirmPassword').value !== ''"
                                errorMessage="Os campos senha e confirme a senha devem ser iguais">
                            </app-input-error-message>
                        </div>
                    </app-input>
                </div>
            </div>
            <app-form-options-buttons 
                [form]="userForm" urlCancel="/users" (save)="save($event)">
            </app-form-options-buttons>
        </form>
    </app-panel>
</app-admin-dashboard>
