<app-admin-dashboard>
  <app-panel header="Home">
    <div class="row clearfix">
      <app-infobox icon="question_answer" bgColor="bg-blue" text="perguntas" statistic="135">
      </app-infobox>
      <app-infobox icon="games" bgColor="bg-blue" text="partidas" statistic="150">
      </app-infobox>
      <app-infobox icon="check_circle" bgColor="bg-blue" text="acertos" statistic="90%">
      </app-infobox>
      <app-infobox icon="star" bgColor="bg-blue" text="avaliação" statistic="4,3">
      </app-infobox>
    </div>
  </app-panel>
</app-admin-dashboard>
